{{> navbar/navbar}}
    <!--page header-->
    <div class="row">
        <div class="col header">
            <svg viewBox="0 0 860 250">
                <symbol id="web-coderskull">
                    <text text-anchor="middle" x="50%" y="70%">Blog Review</text>
                </symbol>
                <g class="webcoderskull">
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                    <use xlink:href="#web-coderskull" class="web-coder-skull"></use>
                </g>
            </svg>
        </div>
    </div>
    <div class="row">
        <div class="col text-center topBlogs">
            <h1>Top Blogs</h1>
        </div>
    </div>

    <div class="row background-main">

        {{#each topTen}}
        <div class="col-sm-4 blog-card">
            <div class="card-deck">
                <div class="card rootCard">
                    <div class="card-body">
                        <a class="colored-link" href="/blog/{{this.id}}">
                            <h3 class="title linked">{{this.title}}</h3>
                        </a>
                        <p class="card-text">By: {{this.blog_author}}</p>
                        <p class="card-text">Website: <a href="{{this.website}}" target="_blank">{{this.website}}</a></p>
                        <p class="card-text">Description: {{this.description}}</p>
                        <p class="card-text">Rating: 
                            <fieldset class="rating" data-rating="{{blog.cumulative_rating}}">
                                <input type="radio" id="star5" name="rating" value="5.0" /><label class="full" for="star5"
                                    title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half"
                                    for="star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" name="rating" value="4.0" /><label class="full" for="star4"
                                    title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half"
                                    for="star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" name="rating" value="3.0" /><label class="full" for="star3"
                                    title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half"
                                    for="star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2" name="rating" value="2.0" /><label class="full" for="star2"
                                    title="Bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half"
                                    for="star1half" title="Bad - 1.5 stars"></label>
                                <input type="radio" id="star1" name="rating" value="1.0" /><label class="full" for="star1"
                                    title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf"
                                    title="Sucks big time - 0.5 stars"></label>
                            </fieldset> </p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

<script>
    $(function () {
        $('.rating').stars();
    });
    $.fn.stars = function () {
        return $(this).each(function () {
            var rating = parseFloat($(this).attr("data-rating"));
            console.log(rating)
            rating = Math.round(rating * 2) / 2;
            console.log(rating)
            $(this).find("input[name='rating'][value='" + rating + "']").attr("checked", "checked");
        });
    };
</script>

{{> scripts/scripts}}