<div class="container">
    {{> navbar/navbar}} 
    <section>
        <h1 class="mt-3 mb-3 pageHead">Search Results</h1>
        {{#if foundResults}} 
        {{#each blogs}}
        <div class="card mt-3 mb-3">
            <a class="card-header title linked" href="/blog/{{this.id}}"><h3>{{title}}</h3></a>
            <div class="card-body">
                <p class="indent"><a href="{{website}}" target="_blank" class="colored-link">{{website}}</a></p>
                <p class="indent">Cumulative rating:                
                    <form class="indent">
                        <fieldset class="rating cumulative" data-rating="{{this.cumulative_rating}}" data-active="true">
                            {{> stars}}
                        </fieldset>
                    </form>
                </p>
                <br style="clear:both">
                <p class="indent">Description: {{description}}</p>
            </div>
        </div>
        {{/each}}
        {{/if}}

        {{#unless foundResults}}
        <p class="no-results">
            The blog you're looking for can't be found!
            <br> Check your search term(s) and try again, or click on "Add Blog" to add a blog and review it.
        </p>
        {{/unless}}
   </section>
</div>

 {{> scripts/scripts}}